<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pass.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @pass.username %>
</p>

<p>
  <strong>Password salt:</strong>
  <%= @pass.password_salt %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @pass.notes %>
</p>

<p>
  <strong>Active:</strong>
  <%= @pass.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @pass.user_id %>
</p>

<%= link_to 'Edit', edit_pass_path(@pass) %> |
<%= link_to 'Back', passes_path %>
